# dependencies
node_modules/

# build outputs
.next/
dist/
out/

# turbo
.turbo/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# runtime logs
*.log
*.err

# os
.DS_Store
Thumbs.db

# ide
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
